body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: lightblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  display: inline-block;
}

.box {
  border: solid red;
  width: 100px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


button {
  background: blue;
  color: white;
  padding: 10px;
  margin-left: 15px;
  border-radius: 10px;
  font-weight: 700;
  border: none;
}

span {
  margin: 0 10px;
  font-weight: 700;
}

button.my-weather {
  background: green;
  margin: 0;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

form {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  margin-bottom: 30px;
}

.section {
  padding: 15px;
  border: dotted blue 1px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.weatherContainer {
  display: flex;
}

.weatherCard {
  background-color: white;
  width: 100px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
  padding: 0 5px;
  box-shadow: 2px 2px 2px rgb(110, 110, 110);
}

.temp {
  font-size: 20px;
  font-weight: 700;
}

.tempF {
  font-size: 12px;
}

.header {
  font-size: 20px;
  font-weight: 700;
}

.symbol {
  margin: -5px 0 -10px 0;
}

.description {
  padding-bottom: 5px;
}

.error {
  margin-top: 25px;
  color: red;
  font-size: 24px;
  font-weight: 700;
}