body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: lightblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  display: inline-block;
}

.box {
  border: solid red;
  width: 100px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


button {
  background: blue;
  color: white;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

button.my-weather {
  background: green;
}

input {
  padding: 10px;
  margin-bottom: 20px;
}

form {
  padding: 10px;
}

.weatherContainer {
  display: flex;
}

.weatherCard {
  /* border: solid white 5px; */
  background-color: white;
  width: 100px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  padding: 0 5px;
  box-shadow: 2px 2px 2px rgb(110, 110, 110);
}


